fastapi==0.110.0
uvicorn==0.27.1
llama-index==0.10.12
chromadb==0.4.24
python-multipart==0.0.9
pydantic-settings==2.2.1
llama-index-vector-stores-chroma==0.1.6
llama-index-embeddings-openai==0.1.6
llama-index-llms-openai==0.1.7
python-dotenv==1.0.1
